@media screen and (max-width: 374px){
    .footer-menu-inner-container > ul > li{
        padding: 0 0.2rem !important;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px){
    .header-menu-inner-container > ul > a > li{
        font-size: 0.8rem !important;
        padding:0 7px !important;
    }

    .sharing-list{
        left: 15px;
        top: 10px;
    }

    .footer-menu-inner-container > ul > li{
        font-size: 0.8rem !important;
        padding:0 8px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){

    .footer-menu-inner-container > ul > li{
        padding:0 18px !important;
    }
    .header-menu-inner-container > ul > a > li{
        padding:0 10px !important;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px){
	.gallery-image{
		padding: 0px 110px;
	}
    .footer-menu-inner-container > ul > li{
        padding:0 14px !important;
    }
    .header-menu-inner-container > ul > a > li{
        padding:0 10px !important;
    }

    .sharing-list{
        left: 8px !important;
    }
} 

@media (min-width: 1200px)
.middle-container {
    width: 1280px;
}

  

@media screen and (max-width: 575px){
    .nav-header{
       display: none !important;
   }

   /* .banner-main{
        padding-top : 180px;
        }*/

        .mobile-page-header{
            background: white;
            display: block !important;
            padding: 20px 0;
            position: fixed;
            width: 100%;
            top:0;
            left:0;
            z-index:999;
        }
        .mobile-menu-img{
            width: 1.75rem;
        }

        .custom-margin-top{
            margin-top: -15px !important;
        }

        .footer-menu-inner-container > ul {
            padding: 0 !important;
        }
        .footer-menu-inner-container{
            text-align:center !important;
        }
        .footer-menu-inner-container > ul > li {
            padding: 0 0.5rem !important;
        }
    }
    
    .footer-menu-inner-container > ul > li{
        font-size: 16px;
        font-family:helveticaNeueLStd-Lt;
        display: inline;
        padding:0 20px;
    }
    .footer-menu-inner-container > ul > li .footer-item{
        color:#002b57;
    }
    .footer-menu-inner-container > ul > li .footer-item:hover{
        text-decoration: none;
    }
    .footer-menu-list{
       padding-top: 69px;
   }
   .footer{
    min-height: 150px;
    position: relative;
}