@font-face {
    font-family: "Lato Semibold";
    src: url(/fonts/Lato2OFLWeb/Lato/fonts/Lato-Semibold.eot) format('embedded-opentype'), 
    url(/fonts/Lato2OFLWeb/Lato/fonts/Lato-Semibold.woff) format("woff"),
    url(/fonts/Lato2OFLWeb/Lato/fonts/Lato-Semibold.ttf) format("truetype");
}

body{
    font-family : 'Lato Semibold';
    font-size: 15pt;
}



@media screen and (max-width: 767px){
    .body-wrapper{
        padding-top: 15px;
    }
}

.header-section{

}

.header-wrapper{
    padding-bottom: 20px;
}

.title{
    text-transform : uppercase;
    text-align : center;
    font-weight: bold;
    color : #002b57;
    font-size: 2.6rem;
}

.section{
    padding-top : 30px;
    padding-bottom : 30px;
}

@media screen and (max-width: 767px){
    .title{
        font-size: 1.2rem;
    }
}

.home-section .sub-title{
    text-align : center;
    font-size: 1.25rem;
    width : 70%;
    margin : 0 auto;
    padding : 80px 15px;
}

@media screen and (max-width: 767px){
    .home-section .sub-title{
        font-size: 0.8rem;
        width : 90%;
        padding : 30px 15px;
    }
}

.home-section .senses-container{
    text-align :center;
    font-size : 0;
}

.home-section .senses-img{
    width : 20%;
    display: inline-block;
    padding: 25px;
}

@media screen and (max-width: 767px){
    .home-section .senses-img{
        width : 33%;
        display: inline-block;
        padding: 8px;
    }
}


.join-section .sub-title{

}



.prizes-section.sub-title{

}


.gallery-section .sub-title{
    text-align : center;
    font-size: 1.25rem;
    width : 70%;
    margin : 0 auto;
}

@media screen and (max-width: 767px){
    .gallery-section .sub-title{
        font-size: 0.8rem;
        width : 90%;
    }
}


.highlight-section .sub-title{

}


.footer-section{

}

.container-img{
    background-image: url("./img/background.jpg");
}
.middle-container{
    margin: 0 auto;
    max-width: 1500px; 
}

.para1{
    text-align : center;
    font-size: 15pt;
    padding: 50px 50px;
}

.activities-header-title{
	font-size: 45px !important;
	padding-top: 20px;
	text-align :center;
	font-weight: bold;
}

/*.title{
    text-transform : uppercase;
    text-align : center;
    font-weight: bold;
    color : #002b57;
    font-size: 45px !important;
}*/

.senses-content{
    padding : 30px 0;
}

.img-center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.step-next{
    padding-top: 75px;
}

.prizes-title{
	padding-bottom : 35px;
}

.prizes-content{
	padding-bottom: 45px;
}

.gallery-content{
	padding : 15px 0px;
	text-align : center;
}



.join-title{
	padding-bottom: 20px;
}

@media screen and (max-width: 767px){
    .form-section{
        padding-left : 0px;
        padding-right : 0px;
    }
}

.form-container{
    background : linear-gradient(#253abb, #2580bb);
    background-repeat: no-repeat;
    min-height: 950px;
}

.form-border{
    /*background-image: url("../images/main_image/form_white_frame.png");*/
    position: absolute;
    left : 0;
    right:0;
    top :0;
    padding : 10px 0;
}

@media screen and (max-width: 767px){
    .form-border{
       padding : 5px 0;
    }
}

.form-border-bottom{
    top :auto;
    bottom : 0;
    transform :rotate(180deg);
}

/*.form-group{
    padding-top :20px;
}

@media screen and (max-width: 767px){
    .form-group{
        padding-top : 0;
    }
}
*/

.form-label{
	color : white;
    font-size: 1.3rem;
}
@media screen and (max-width: 767px){
    .form-label{
        color : white;
        font-size: 1rem;
    }
}
.form-label:hover{
    color : white;
}

.dropzone .dz-message {
    margin: 0 !important;
}

.dropzone, .dropzone *{
    text-align :center;
}

.upload-img-text{
    padding: 20px 0;
}

.btn-file{
    border-radius : 0px;
    /*font-size: 12px;*/
    font-size: 1.2rem
}

.padtop20{
    padding-top : 20px;
}

.padtop5{
    padding-top : 5px;
}

.padtop30{
    padding-top:30px;
}

.padtop80{
    padding-top:80px;	
}

.padtop180{
    padding-top:180px;	
}

.padbottom20{
    padding-bottom : 20px;
}

.upload-img-width{
    /**width : 45%;**/
    margin : 0 auto;
    width: 160px;
}

.frame-img{
    padding-bottom: 30px;
}

.upload-frame-img{
    height: 112px;
    width: 141px;
}

.theme-btn{
    background-color : #084c86;
    border-color : #084c86;
}

.lb-next{
    display : none !important;
}

.lb-prev{
    display : none !important;
}

.dropzone {
    min-height: 270px !important;
    padding-bottom : 20px !important;
}


.input-carousel{
    display: none;
}


.selected-frame{
    transform: scale(1.5);
}


.frame-modal-header{
    border-bottom: none !important;
}

#frame{
    background-color: transparent;
}

.close:not(:disabled):not(.disabled) {
    pointer-events: visible;
}

.img-carousel{
    display:block;

    height : 350px;
    margin : 0 auto;
}

.modal-frame{
    background-color : transparent;
    border : none;
}

.full-modal{
    width : 100%;
    max-width: initial;
}

.carousel-inline{
    display : inline !important;
}

.modal-close-button{
    font-size: 55px !important;
}

.no-border-top-footer{
    border-top : none;
}

.img1 {
    position: relative;
    z-index : 3;
    width: 400px;
    height: 305px;
}



.gallery-images{
    width: 85%;
    margin: 0 auto;
}

@media screen and (max-width: 767px){
   .gallery-nav .carousel-gallery-nav{
        width : 24px;
        top: 30%;
   }

}

@media screen and (max-width: 767px){
   .img-spinner{
        width : 30%;
   }

}

.gallery-nav .carousel-gallery-nav{
    position : absolute;
    left : 0;
    top : 40%;
    cursor: pointer;
}

.gallery-nav .carousel-next{
    right: 0;
    left: auto;
}


@media screen and (max-width: 767px){
    .img1 {
        width: 100%;
        height: 295px;
    }

}
/**.uploadedImg{
height: 275px;
width: 440px;
z-index: 1;
position: relative;
}**/

.upload-img-container{
    padding: 0 15px;
}

.uploaded-img{
    bottom: 300px;
    position: relative;
    width: 400px;
    height: 300px;
}

@media screen and (max-width: 767px){
    .uploaded-img{
        width: 100%;
        height: 280px;
    }

}

.not-visible{
    display: none;
}


.upload-frame-disable{
    visibility: hidden;
}

@media screen and (max-width: 991px){
    .upload-frame-disable{
       display :none;
    }

}

@media screen and (max-width: 767px){
    .btn-submit-center{
       text-align:center;
    }

}



.frame-title{
    padding-bottom : 20px;
}

.frame-preview{
    max-width : 400px;
    max-height : 300px;
    overflow : hidden;
}
.checked {
    color: #26bec9;
}

.more-text-container{
    text-align:  right;
    padding-right: 10px;
}

.more-text{
    color: #26bec9 !important;
    padding-bottom : 20px;
    font-size : 0.8rem;
    
}

@media screen and (max-width: 767px){
    .more-text{
        
        padding-left: 15px;
    }

}


.activities-carousel-img{
    height: 160px;
}

.activities-title{
    font-size: 1.25rem;
}

@media screen and (max-width: 767px){
    .activities-title{
        font-size: 1rem;
    }

}

.activities-content i{
    color : #ccc;
}

.activities-content p{
    font-size: 1.05rem;
    color : #ccc;
}

@media screen and (max-width: 767px){
    .activities-content p{
        font-size: 0.85rem;
    }

}

.custom-container{
    padding : 0 15px;
}

.content-background {
    background : url('../images/main_image/Background.jpg');
}

.share-modal-background{
	background : url('../images/main_image/Popup_new.png');
	background-repeat : no-repeat;
	background-size : cover;
}

.activities-background{
    background : url('../images/main_image/Activity_background.jpg');
}

.activites-box{
    background-color : white;
    padding: 10px;
}

.activities-review{
    font-size: 1rem;
    line-height: 2rem;
}
@media screen and (max-width: 767px){
   .activities-review{
        font-size: 0.8rem;
    }

}
/**
.owl-prev {
width: 15px;
height: 100px;
position: absolute;
top: 40%;
margin-left: -20px;
display: block !important;
border:0px solid black;
}

.owl-next {
width: 15px;
height: 100px;
position: absolute;
top: 40%;
right: -25px;
display: block !important;
border:0px solid black;
}
**/


.footer-background{
    background-color : white;
}

.footer-text{
    text-align : right;
    color : #084c86
}

/** Navbar header **/
.navbar{
    background-color: transparent;
    border-color : transparent;
}

.navbar-content{
    background-color: transparent !important;
    border-color : transparent !important;
}

#navbarHeader>ul>li>a{
    color : #084c86;
    text-transform : uppercase;
}


/** Back to top **/
.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

.back-to-top:hover, .back-to-top:focus {
    background: rgba(0, 0, 0, 0.3);
    color: #fff; 
}

.back-to-top.show {
    opacity: 1; 
}
.activities-border{
    border : 1px solid #ddd;
    padding-bottom : 20px;
    border-radius: 5px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    min-height: 450px;
}

@media screen and (max-width: 767px){
    .activities-border .img-fluid{
        max-height: 180px;
        padding-bottom: 10px;
    }
}

.step-image{
    margin : 0 auto;
}



.owl-carousel .owl-item img {
    border-radius: 5px;
}

.login-modal{
    height: 510px;
}
.login-modal-title{
    color : #084c86;
}

.share-modal-note{
    font-size: 14px;
    padding-top: 20px;
}

.share-modal-para1{
    font-size: 15pt;
    padding: 0 165px;
}

.login-modal-note{
    font-size: 14px;
    padding-top: 165px;

}

.btn-fb-container{
	padding: 20px;
}

.custom-fb-button{
	text-align:center;
}

.share-img-background{
    background-image : url('../images/logo_icon/box.png');
    position :absolute;
    background-repeat:  no-repeat;
    right: 0;
    top: 100%;
    width: 95px;
    height: 167px;
    z-index: 1;
    text-align: center;
    padding-top: 43px;
}

.share-btn{
    position: relative;
    display: block; 
    margin-left: -10px;
    margin-bottom: 15px;
}

.fb-img {
    height: 35px;
    z-index: 3;
}

.whatsapp-img {
    position: relative;
    right : 85px;
    /*left: 35px;*/
    top: 100px;
    z-index: 3;
    width: 35px;
}

.senses-modal{
    height: 550px;
}

.senses-modal-note{
	line-height : 2;
}

.frame-selection{
	color: white;
    text-align: center;
    cursor: pointer;
}

.share-btn-background{
	background : url('../images/logo_icon/Share.png');
	background-repeat: no-repeat;
	height: 200px;
}

.carousel-gallery-nav{
	width : 50px;
}

.carousel-nav{
    width : 50px;
}
@media screen and (max-width: 767px){
    .carousel-gallery-nav{
        width : 24px;
    }

    .carousel-nav{
        width : 24px;
    }
}

@media screen and (max-width: 767px){
    .back-to-top{
        right: 14px;
        padding: 9px;
    }
}

.nav-menu{
    /*background-color: red;*/
    height: 77px;
    max-width: 90%;
    margin: 0 auto;
}
.nav-menu > .row, .menu-list > .row{
    height: 77px;
}

.footer-menu-inner-container-image {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 30px;
}

.footer-menu-outer-container, .header-menu-outer-container{
    display: table;
    width: 100%;
    height: 100%;
}
.footer-menu-inner-container, .header-menu-inner-container{
    display:table-cell;
    vertical-align: middle; 
}

.footer-menu-inner-container{
   text-align: right;
}

@media screen and (max-width: 767px){
    .footer-menu-inner-container{
       text-align: center;
    }
}

.header-menu-inner-container ul{
    list-style: none;
    padding-top: 50px;
}
.header-menu-inner-container > ul > li{
    display: inline-block;
    padding:0 15px;
}
.header-menu-inner-container > ul > li .menu-item{
    font-size: 1rem;
    display: inline;
    padding:0;
    color: #002b57;
}
.header-menu-inner-container > ul >li a:hover{
    text-decoration: none;
}
.header-menu-inner-container > ul > li a:hover{
    color:#fd6b81;
}

.header-menu-inner-container .header-img{
	height: 30%;
}

.footer-img{
	height: 30%;
    padding-top: 30px;
}

.footer-social-media{
	height : 20px;
}


.footer > .container, .footer > .container > .row{
    min-height: 150px;
}

.footer-menu{
    position: absolute;
    /*top: 50%;*/
    top: 30%;
    font-family: helveticaNeueLStd-Lt;
    font-size: 1rem;
    line-height: 30px;
}

.sharing-option{
    position: relative;
    cursor: pointer;
}
.sharing-option:hover .share-img-background{
    visibility: visible;
}

.custom-display{
    z-index: 3;
}

.share-img-background{
    visibility: hidden;
}

.sharing-list{
    position: absolute;
    left: 15px;
    z-index: 2;
    top: 10px;
}

.mobile-header-logo{
    width: auto;
    max-height: 100%;
    position: relative;
    display: inline;
}

.mobile-menu-collapse{
    top:5px;
    position :absolute;
    right:20px;
    width: 25px;
}

.mobile-page-header{
    display: none;
}
.mobile-header-container{
    position: relative;
    padding-left: 20px;
    max-height: 100%;
    height: 100%;
}
.mobile-share-text{
    margin-left: 0.5rem;
}
.mobile-menu{
    position: absolute;
    color:  white;
    text-align : center;
    background-color: #002b57;
    width: 100%;
    display: none;
}
.mobile-menu > .row > .col-12 >  .mobile-menu-item{
    color:  white;
    text-align:center;

}
.mobile-menu > .row > .col-12 >  .mobile-menu-item a:hover{
    text-decoration: none;
}
.mobile-menu > .row > .text-center{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom : 1px solid #87cefa;
}
.mobile-menu-border-bottom{
    border-bottom: 1px solid #002b57;
}
.mobile-menu-icon{

}

.open-menu{
    content:url("../images/main_image/Burger.png");
}
.close-menu{
    content:url("../images/main_image/Cross.png");
    width: 25px;
}
.show-menu{
    display: block;
}

.custom-mobile-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.banner-img{
	padding-top: 75px;
}

.custom-margin-left {
    margin-left: 15px;
}

.carousel-container{
	width : 80%;
	margin : 0 auto;
}

.owl-next{
	position: absolute;
    right: -10%;
    top: 150px;
}

@media screen and (max-width: 767px){
    .owl-next{
        right: -45px;
    }
}

.owl-prev{
	position: absolute;
    left: -10%;
    top: 150px;
}

@media screen and (max-width: 767px){
    .owl-prev{
        left: -45px;
    }
}

.btn-fb-share{
	color: white;
    background-color: #3b5998;
}

.btn-fb-share:hover{
	color: white;
}

.btn-fb-txt{
	padding-left:10px;
}

.form-frame{
    padding-left: 40px;
}

.gallery-image{
    padding-left: 10px;
    padding-right: 10px}

.gallery-container{
    padding-bottom: 20px;
}

@media screen and (max-width: 767px){
    .prizes-img .img-fluid{
        margin : 0 auto;
    }
}

.owl-carousel .owl-item img {
    height: 200px;
}

@media screen and (max-width: 767px){
    .gallery-container{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }

    /*.gallery-image{
        padding: 0px 110px;
    }*/
}





.page-content {
    color: #666;
    line-height: 1.5;
}

.paragraph {
    margin-top: 20px;
}

.page-content > p + .page-section {
    padding-top: 20px;
}

.page-section {
    padding: 18px 0;
}

.post-title {
    color: #333;
    font-size: 1.250em;
    letter-spacing: -0.042em;
    margin-bottom: 15px;
}

.post-title::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    background: url(http://tong.visitkorea.or.kr/img/vk/enu/common/page_title_bg.png) no-repeat;
    width: 3px;
    height: 12px;
}




@media screen and (max-width:9999px){
    .cboxcheck:checked + * .thumb-carousel{
        height: auto !important;
        max-height: none !important;
        line-height:0;
    }
    .thumb-carousel span {
        font-size:0;
        line-height:0;
    }

    .cboxcheck:checked + * .thumb-carousel .car-content{
        display:none;
        max-height:0px;
        overflow:hidden;
    }

    .show-frame
    {
        display:block !important;
        max-height:none !important;
        overflow:visible !important;
    }


    .thumb-carousel .thumb{
        cursor:pointer;
        display:inline-block !important;
        width:17.5%;
        margin:4.5% 1%;
        /**border:2px solid #d6d6d6;**/
    }
    /* hide for thunderbird as it doesn't support checkbox toggling */
    .moz-text-html .thumb {
        display:none !important;
    }
    .arrow {background:url(http://media.whatcounts.com/whatcounts_marketing/170619_Carousel/arrow.jpg) no-repeat; width:15px; height:8px; display:block}
    .thumb-carousel .thumb:hover{
        /** border:2px solid #3db7e4;**/
        border-radius:2px;
        transition: transform .2s;

    }
    .thumb-carousel .cbox1:checked + span .thumb-1,
    .thumb-carousel .cbox2:checked + span .thumb-2,
    .thumb-carousel .cbox3:checked + span .thumb-3,
    .thumb-carousel .cbox4:checked + span .thumb-4,
    .thumb-carousel .cbox5:checked + span .thumb-5 
    {
        border-color: #3db7e4;
        border-radius:2px;
    }

    .thumb-carousel .thumb img{
        width:100%;
        height: auto;
    }
    .thumb-carousel img{
        max-height: none !important;
    }      
    .cboxcheck:checked + * .fallback{
        display:none !important;
        display:none;
        max-height: 0px;
        height: 0px;
        overflow: hidden;
    }
}

@media screen and (max-width:600px){
    .car-table.responsive,
    .car-table.responsive .thumb-carousel,
    .car-table.responsive .thumb-carousel .car-content img,
    .car-table.responsive .fallback .car-content img
    {
        width:100% !important;
        height:auto;
    }
} 


@media screen and (max-width: 374px){
    .footer-menu-inner-container > ul > li{
        padding: 0 0.2rem !important;
    }

}

@media screen and (min-width: 576px) and (max-width: 767px){
    .header-menu-inner-container > ul > a > li{
        font-size: 0.8rem !important;
        padding:0 7px !important;
    }

    .sharing-list{
        left: 15px;
        top: 10px;
    }

    .footer-menu-inner-container > ul > li{
        font-size: 0.8rem !important;
        padding:0 8px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){

    .footer-menu-inner-container > ul > li{
        padding:0 1px !important;
    }
    .header-menu-inner-container > ul > a > li{
        padding:0 10px !important;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px){
    
    .footer-menu-inner-container > ul > li{
        padding:0 3px !important;
    }
    .header-menu-inner-container > ul > a > li{
        padding:0 10px !important;
    }

    .sharing-list{
        left: 8px !important;
    }
} 

@media (min-width: 1200px)
.middle-container {
    width: 1280px;
}

  

@media screen and (max-width: 575px){
    .nav-header{
       display: none !important;
   }

   /* .banner-main{
        padding-top : 180px;
        }*/

        .mobile-page-header{
            background: #c9ecfe;
            display: block !important;
            border-bottom: 1px solid #c9f5fe;
            padding: 10px 0;
            position: fixed;
            width: 100%;
            top:0;
            left:0;
            z-index:999;
            height : 72px;
        }
        .mobile-menu-img{
            width: 1.75rem;
        }

        .custom-margin-top{
            margin-top: -15px !important;
        }

        .footer-menu-inner-container > ul {
            padding: 0 !important;
        }
        .footer-menu-inner-container{
            text-align:center !important;
        }
        .footer-menu-inner-container > ul > li {
            padding: 0 0.5rem !important;
        }
    }
    
    .footer-menu-inner-container > ul > li{
        font-size: 16px;
        font-family:helveticaNeueLStd-Lt;
        display: inline;
        padding:0 20px;
        color :black ;
    }
    .footer-menu-inner-container > ul > li .footer-item{
        color:#002b57;
    }
    .footer-menu-inner-container > ul > li .footer-item:hover{
        text-decoration: none;
    }
    .footer-menu-list{
       padding-top: 69px;
   }
   .footer{
    min-height: 120px;
    position: relative;
    padding-bottom: 30px;
}

.mobile-line-spliter{
    display: inline-block;
}

.copyright{
    text-align: center;
    font-size: 0.85rem;
}

.upload-frame-container{
                max-width: 801px;
                /**overflow: hidden;**/
                padding: 0;
                margin: 0 auto;
            }
            
            .frame-preview-new{
                z-index: 10;
                width: 100%;
                position: absolute;
                pointer-events : none;
                left: 0;
            }
            
            .uplaoded-frame-crop{
                
                top: 0;
                max-width: 801px;
                max-height: 611px;
                z-index: -1;
            }
            

.frame-scroll{
     max-height: calc(100vh - 210px);
    overflow-y: auto;
}

@media screen and (max-width: 767px){
    .upload-frame-container{
        max-width: 280px; 
    }

    .uplaoded-frame-crop {
        max-width: 280px;
    }
}

.cr-boundary{
    max-width: none !important;
    max-height: none !important;
}

img {
  max-width: 100% !important; /* This rule is very important, please do not ignore this! */
  max-height : 100% !important;

}
.cropper-modal {
    background: transparent;
}

.cropper-wrap-box, .cropper-canvas {
    visibility: hidden;
}

.cropper-bg {
    background: transparent;
}

.modal {
  overflow-y:auto;
}

.show-frame{
    padding-bottom: 20px;
}


.upload-frame-margin{
    margin-bottom: 100px;
}

@media screen and (max-width: 767px){
    .upload-frame-margin{
        margin-bottom: 0px;
    }
}

.frame-preview-selected {
    z-index: 10;
    /* width: 100%; */
    position: absolute;
    pointer-events: none;
    left: 0;
}

.preview{
    background: white;
}

.dropzone .dz-preview .dz-image{
    width : 100%;
    height : 100%;
    border-radius : 0;
}

.dz-progress{
    display:none;
}

.alert {
    padding: 0;
}

.lb-outerContainer{
    background : transparent;
}

.lightbox .lb-image {
    height: 100% !important;
}

.lb-outerContainer{
    height: 100% !important;
}